#dashBoard{
    background-color: white;
    /* margin-top: 10px; */
    
    margin-left: 12px;
    /* margin-bottom: 20px; */
    position: relative;
    top: 40px;
    padding: 20px;
    padding-bottom: 0;
    height: auto;
    width: -moz-fit-content;
    border-radius: 10px;
    border: 1px solid #9e9e9e;
}